Name: <%= @post.name %>
<br>
Content: <%= @post.content %>

<form class="" action="'/posts/<%=@post.id%>/delete'" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" name="" value="delete">
</form>
